.hero {
    background: url("/water.jpg") no-repeat 0 0;
    background-size: cover;
    padding: 10rem 0;
}

.hero2 {
    background: url("/owl.jpg") no-repeat 0 0;
    background-size: cover;
    padding: 6rem 0;
}

.hero3 {
    background: url("/redsky.jpg") no-repeat 0 0;
    background-size: cover;
    padding: 5rem 0;
}

.hero4 {
    background-size: cover;
    padding: 1rem 0;
}

@media (min-width: 1200px) {
    .hero5 {
        max-width: 500px;
        flex-basis: 500px;
    }
}

.hero-alt {
    @extend .hero;
    padding: 15rem 0;
}